/* IMPORTANT DESCRIPTION */
/*
** Sass styles have the same structures as components. So,
** are structured with a variant of atomic design: Atoms,
** Molecules, Organisms, Components, and Pages. Also, has
** two configuration files:
**    Palette: basically is the palette color of the app.
**    Unities: is a variables file with the standard sizes
**    for general elements, for example, contains margins,
**    paddings, etc.
**
** Each atomic file also contains your own config variables
** for specific styles and has styles on block marked with
** Acomments.
** A block style is defined with a block comment like of
** the first line of this document. By another hand, each
** block can have block children, and those are defined with
** a block comment but with double *
*/

@import "./Mixins.scss";
@import "./Unities";
@import "./Palette.scss";
@import "./Atoms.scss";
@import "./Gastro.scss";
@import "./Molecules.scss";
@import "./Organisms.scss";
@import "./Componets.scss";
@import "./Reusables.scss";

body {
  font-family: "Avenir", "Avenir-Black", sans-serif;
  font-size: 14px;
  color: $textPrimary;
}

/* Override SweetAlert */
.swal2-actions {
  .swal2-confirm {
    background-color: $secondary;
    height: 50px;
    padding-right: $padding;
    padding-left: $padding;
    font-weight: normal;
    color: white;
    font-size: 1rem;
    border-radius: 0px;
  }
}

.editable-section-header {
  display: flex;
  justify-content: space-between;
}

.generic-admin-table {
  .ant-tabs-bar {
    margin-bottom: 0px;
  }

  .ant-tabs-nav-container {
    display: flex;
    justify-content: flex-end;
  }

  .ant-tabs-content {
    background-color: $navy;
    min-height: 72px;
  }

  .ant-tabs-tab {
    border-bottom: solid 1px $navy;
    min-width: 65px;
    text-align: center;
    border-radius: 0px!important;
    background-color: $clouds!important;
    margin-right: 0px!important;
  }

  .ant-tabs-tab-active {
    background-color: $navy!important;
    border-bottom: solid 1px $navy!important;
    color: white!important;
  }

  .ant-table-thead {
    background-color: $silver!important;
  }

  .ant-table-tbody {
    background-color: $lightBlue;

    tr {
      border-color: white;
    }
  }
}
