@import "./Palette.scss";
@import "./Atoms.scss";
@import "./Gastro.scss";
@import "./Molecules.scss";
@import "./Organisms.scss";
@import "./Componets.scss";

body {
  font-family: "Avenir", "Avenir-Black", sans-serif;
  font-size: 14px;
  color: $textPrimary;
}
