// Color palette
@import './Palette.scss';
// Unities
@import './Unities.scss';




/* Form Entries */
.input-field-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.input-field {
  color: $textPrimary;
  background-color: $clouds;
  border: none;
  height: 50px;
  padding: $padding;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-bottom: 2px solid transparent;

  &:focus {
    outline: none;
    border-bottom: 2px solid $primary;
  }

  &:disabled {
    background-color: $silver;
  }
}

.input-field__error {
  &:focus {
    border-bottom: 2px solid $red;
  }
  border-bottom: 2px solid $red;
}

.input-message {
  margin-top: $smallMargin;
  min-height: 16px;
}

.input-after-element {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  background-color: $clouds;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid;
  box-sizing: border-box;
}

.input-label {
  color: $textPrimary;
  font-weight: bold;
}




/* Layout */
.full-screen {
  min-height: 100vh;
  display: flex;
  box-sizing: border-box;
}