// Color palette
@import "./Palette.scss";
// Unities
@import "./Unities.scss";

/* Form Entries */

$maxWidthFields: 445px;
$inputHeight: 50px;

.input-field-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.input-field {
  border-radius: 0px !important;
  color: $textPrimary !important;
  background-color: $clouds !important;
  border: none !important;
  height: 50px !important;
  padding: $padding !important;
  box-sizing: border-box !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  border-bottom: 2px solid transparent !important;

  &:focus {
    outline: none !important;
    border-bottom: 2px solid $primary !important;
  }

  &:disabled {
    background-color: $silver !important;
  }
}

.input-field__error {
  &:focus {
    border-bottom: 2px solid $red !important;
  }
  border-bottom: 2px solid $red !important;
}

.input-error {
  border-bottom-color: $red !important;
  &:focus {
    outline: none !important;
    border-bottom: 2px solid $red !important;
  }
}

.input-success {
  border-bottom-color: $green !important;
  &:focus {
    outline: none !important;
    border-bottom: 2px solid $green !important;
  }
}

.input-warning {
  border-bottom-color: $yellow !important;
  &:focus {
    outline: none !important;
    border-bottom: 2px solid $yellow !important;
  }
}

.input-message {
  margin-top: $smallMargin;
  min-height: 16px;
}

.input-after-element {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  background-color: $clouds;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid;
  box-sizing: border-box;
}

.input-label {
  color: $textPrimary;
  font-weight: bold;
}

/** Select Field **/

.select-field {
  width: 100%;
  height: $inputHeight!important;
  border-bottom: solid 2px transparent;
  box-sizing: border-box;

  &:focus {
    border-color: transparent!important;
  }

  div {
    min-height: 100%!important;
    border-radius: 0px!important;
    background-color: $clouds!important;
    border-color: $clouds;

    &:hover {
      border-color: $clouds;
    }
  }
}

.select-error {
  border-bottom: solid 2px $red!important;
}

.select-success {
  border-bottom: solid 2px $green!important;
}

.select-warning {
  border-bottom: solid 2px $yellow!important;
}

/** Status Message **/
.status {
  width: 100%;
  min-height: 21px;
  margin-top: $smallMargin;

  &-warning {
    color: $yellow;
  }

  &-error {
    color: $red;
  }

  &-success {
    color: $green;
  }
}

.select-field-option {
  height: $inputHeight!important;
  padding: 0px $smallPadding!important;
  display: flex!important;
  justify-content: flex-start!important;
  align-items: center!important;
  font-weight: 900!important;
  font-size: 1em!important;
  color: $darkSilver!important;
  background-color: $clouds!important;

  &:hover {
    background-color: $primary!important;
    color: white!important;
  }
}



/* Button */
.amg-button {
  border-radius: 0px !important;
  color: $clouds !important;
  font-weight: 900 !important;
  height: 50px !important;
  max-width: 445px !important;
}


/* Layout */
.full-screen {
  min-height: 100vh;
  display: flex;
  box-sizing: border-box;
}

.container {
  display: flex;
  box-sizing: border-box;
}

/* Spinner */
.spinner {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: rgba($color: #fff, $alpha: 0.6);
}

/* Events */
/** EventImage **/
$eventImageWith: 350px;
$eventImageHeight: 315px;

.event-image {
  width: $eventImageWith;
  height: $eventImageHeight;
  background-size: cover;
  padding: $padding;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
}

.image-text {
  display: flex;
  flex-direction: column;
  h2 {
    color: white;
    font-weight: normal;
  }
  span {
    font-size: 1.1em;
    color: white;
  }
}



/* Event Item */
$infoHeight: 90px;

.event-item {
  display: flex;
  padding-left: ($lateralSpace + $largeMargin);
  box-sizing: border-box;
  align-items: center;
  margin-bottom: $margin;

  &-day {
    font-size: 1.7em;
    margin-right: $margin;
  }

  &-info {
    flex-grow: 1;
    background-color: $lightBlue;
    box-sizing: border-box;
    padding: $smallPadding;
    min-height: $infoHeight;

    h4 {
      margin-bottom: 0;
    }
  }
}



/* Text Block */
.text-block {
  margin-bottom: $largeMargin;

  span {
    font-size: 1.8em;
  }
}
