/* Color palette */
@import "./Palette.scss";
/* Unities */
@import "./Unities.scss";
/* Mixins */
@import "./Mixins.scss";

/* Login */
.login-left {
  padding: $padding !important;
}

.login-right {
  display: none;

  @include for-size(tablet-landscape-up) {
    display: flex;
  }
}

.login-bg {
  background-image: url("../assets/login-bg.png");
  width: 100%;
  height: 100%;
  background-size: cover;
}

.login-logo {
  width: 100%;
  height: 100%;
  background-image: url("../assets/gastro@2x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

.shapeIcon {
  padding-left: 4px;
  width: 25px;
  height: 25px;
  margin: auto;
}

/* Dashboard */
.dashboard-container {
  flex-grow: 1;
  box-sizing: border-box;
  position: relative;
  max-width: 100vw;
  min-width: 0;
  @include for-size(tablet-landscape-up) {
    padding-left: $lateralSpace;
  }

  .dash-item-center {
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    max-width: 1200px;
  }
}

.dashboard-container-item {
  margin-bottom: $largeMargin;
  margin-top: $largeMargin;
}


// Events ===>
/* EventCourses */
.events-event-courses {
  &-course {
    display: flex;

    .reusables-box-item {
      flex-grow: 1;
      width: 100%;
    }
  }

  &-header {
    display: flex;
    flex-flow: column;

    @include for-size(tablet-portrait-up) {
      flex-flow: row;
      justify-content: space-between;
    }
  }
}

/* Style EventDetail */
$eventLeftWidth: 350px;

.event-detail {
  .title {
    margin-bottom: $largeMargin;
  }
}

.event-details {
  display: flex;
  flex-flow: column;

  @include for-size(tablet-landscape-up) {
    flex-flow: row;
  }

  .left {
    width: $eventLeftWidth;
    min-width: $eventLeftWidth;
  }

  .right {
    flex-grow: 1;
    box-sizing: border-box;
    padding-left: 0;
    min-width: 0;

    @include for-size(tablet-landscape-up) {
      padding-left: $largePadding;
    }

    &-button {
      display: flex;
      justify-content: flex-end;
    }
  }
}

/* Style Program */
.event-program {
  &-box-item {
    flex-flow: column;
    @include for-size(desktop-up) {
      flex-flow: row;
    }
    .reusables-box-item-left {
      justify-content: flex-start;
      @include for-size(desktop-up) {
        justify-content: center;
      }
    }
  }
}



/* Feed */
/* Styles FeedAmgFinder */
.feed-amg-finder {
  display: flex;
  background-color: $clouds;
  align-items: center;
  padding: $padding;

  &-result {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    .reusables-image-preview {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border-style: none;
      margin-right: $margin;
  
      img {
        width: 40px;
      }
    }
  }

  .ant-select-open {
    .ant-select-arrow-icon {
      svg {
        transform: rotate(0deg);
      }
    } 
  }

  .ant-select {
    margin-left: $margin;
    width: 100%;
    height: 50px;

    .reusables-image-preview {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border-style: none;
      margin-right: $margin;
  
      img {
        width: 40px;
      }
    }

    .ant-select-selection-selected-value {
      display: flex!important;
      flex-wrap: nowrap;
      align-items: center;
    }

    .ant-select-selection {
      height: 50px;
      border-radius: 0px;
      border-color: white;
    }

    .ant-select-selection__rendered {
      line-height: 50px;
    }
  }
}

.feed {
  &-event {
    position: relative;
    min-height: 415px;

    .event-image-large {
      filter: blur(2px);
    }
  }

  &-publications {
    position: relative;
    min-height: 356px;
  }
}

/* Activity Detail */
.activity-detail {

  &-speaker {
    display: flex;

    &-info {
      display: flex;
      flex-flow: column;
      margin-left: $margin;
      justify-content: space-between;
      box-sizing: border-box;
      padding-top: $smallPadding;
      padding-bottom: $smallPadding;
    }
  }
}


/* Component map */
.component-map {
  width: 100%;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $clouds;
}


  /*MainProfile*/
  .component-main-profile, .component-personal-profile {
    .info {
      background-color: $clouds;
      display: flex;
      flex-flow: column;
      align-items: center;
      padding-top: $largePadding;
      box-sizing: border-box;
      position: relative;
    }

    .edit {
      font-size: 1.3rem;
      position: absolute;
      right: $padding;
      top: $padding;
      cursor: pointer;
      $color: $textPrimary;

      &:hover {
        color: $primary;
      }
    }

    .follows {
      display: flex;
      width: 100%;

      div {
        width: 50%;
        box-sizing: border-box;
        border-top: solid 5px white;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        padding: $padding;

        &:first-child {
          border-right: 2px solid white;
        }

        &:last-child {
          border-left: 2px solid white;
        }
      }

      span {
        font-size: 1.3rem;
        font-weight: bold;
      }
    }
  }

.component-login {
  min-height: 100vh;
  min-width: 100vw;
  box-sizing: border-box;

  @include for-size(tablet-landscape-up) {
    display: flex;
  }

  &-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    flex-grow: 1;
  }

  &-left {
    padding: $padding;
    @include for-size(tablet-landscape-up) {
      max-width: 50%;
      width: 50%;
      display: flex;
    }
  }

  &-rigth {
    display: none;
    width: 50%;
    max-width: 50%;
    min-height: 100vh;
    @include for-size(tablet-landscape-up) {
      display: flex;
    }
  }

  &-logo {
    img {
      width: 80vw;
      @include for-size(tablet-landscape-up) {
        width: auto;
      }
    }
  }

  &-form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column;
    margin-top: 5%;
  }
}

/* LateralMenu */
.component-lateral-menu {
  position: fixed;
  top: 0;
  left: -81px;
  bottom: 0;
  height: 100vh;
  background-color: $secondary;
  display: flex;
  align-items: center;
  z-index: 10;

  @include for-size(tablet-landscape-up) {
    left: 0;
  }

  .ant-menu {
    background-color: $secondary;
    border-right: 0px;

    .ant-menu-item {
      color: white;
    }

    .ant-menu-item-selected {
      background-color: $secondary;
    }
  }

  &-icon {
    position: fixed;
    top: $padding;
    left: $largePadding - 5px;
    font-size: 1.5rem;
    color: $primary;

    @include for-size(tablet-landscape-up) {
      display: none;
    }
  }
}

.dashboard-screen {
  min-height: 100vh;
  display: flex;
  box-sizing: border-box;
  padding: $padding;
  padding-top: $extraPadding;

  @include for-size(tablet-portrait-up) {
    padding-top: $extraPadding;
    padding-left: $largePadding;
    padding-right: $largePadding;
  }

  @include for-size(tablet-landscape-up) {
    padding-top: $largePadding;
    padding-left: $extraPadding;
    padding-right: $extraPadding;
  }

  @include for-size(big-desktop-up) {
    padding-top: $largePadding;
    padding-left: ($extraPadding * 2);
    padding-right: $extraPadding;
  }
}

/* LaboralExperience */
/* PersonalEducation */
.component-profile-laboral-experience, .component-profile-personal-education {
  &-header {
    display: flex;
    justify-content: space-between;
    
    h1 {
      font-size: 1.3rem;

      @include for-size(tablet-landscape-up) {
        font-size: 2rem;
      }
    }
  }
}

/* Resources */
.component-resources {
  max-width: 1200px;
  &-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/* Style LateralMenu */
.admin-lateral-menu {
  overflow-y: hidden;
}

/* Style AdminResources */
.admin-resources {
  &-title {
    display: flex;
    justify-content: space-between;
  }

  &-tabs {
    .ant-tabs-bar {
      margin-bottom: 0px;
      padding-bottom: 1px;
      border-bottom: 20px solid $navy;
    }

    .ant-tabs-tab {
      border-color: $clouds!important;
      border-radius: 0px!important;
      background-color: $clouds!important;
    }

    .ant-tabs-tab-active {
      background: $navy!important;
      border-color: $navy!important;
      color: white!important;
    }
  }
}

// Feed ====>
/* Style Feed->Publisher */
.feed-publisher {
  background-color: $clouds;
  padding: $padding;

  &-controls {
    display: flex;
    justify-content: space-between;
  }

  &-controls-attachs {
    display: flex;
    button {
      margin-right: $smallMargin;
      appearance: none;
      outline: none;
      border: solid 1px white;
      padding-left: $smallPadding;
      padding-right: $smallPadding;
      margin-top: $margin;
      background-color: $lightBlue;
      font-size: 0.85rem;
      cursor: pointer;

      i {
        margin-left: $smallMargin;
      }
    }
  }

  &-previews {
    display: flex;

    .reusables-image-preview {
      max-height: 80px;
      max-width: 80px;
      margin-left: $smallMargin;
      margin-right: $smallMargin;

      img {
        max-width: 130px;
        max-height: 130px;
      }
    }
  }

  &-files {
    display: flex;
  }
}


// Admin ===>
/* Styles AdminSubsidiaryReceipt */
.admin-subsidiary-receipt {
  &-receipt {
    display: flex;
    justify-content: center;
  }

  &-content {
    display: flex;
    .users-list {
      flex-grow: 1;
      padding-right: $padding;
    }
  }

  .ant-select-search__field {
    height: 50px!important;
    border-radius: 0px!important;
    border-color: $clouds;
    background-color: $clouds;
    background: $clouds!important;
    width: 445px;
  }

  .ant-btn {
    margin-left: $smallMargin;
    margin-right: $smallMargin;
  }

  .reusables-image-preview {
    width: 300px;
    height: 300px;

    img {
      min-width: 330px;
      min-height: 330px;
    }
  }

  textarea {
    border-radius: 0px;
    background-color: $clouds;
    border-color: $clouds;
  }

  .ant-form-item-label {
    label {
      font-weight: bold;
    }
  }
}

/* AdminDashboard */
.admin-dashboard {
  padding-right: 294px;
  padding-top: 0.1px;
  &-graphs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px!important;
  }
}

/* StatesForm */
.admin-users-states-form {
  .ant-form-item-label {
    font-weight: bold;
  }
}

/* Courses */
.admin-courses {
  .header {
    display: flex;
    justify-content: space-between;
  }
}

/* SpeakersAddList */
.admin-speakers-add-list {
  &-item {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;

    div {
      margin-right: $margin;
    }
  }
}

.admin-invoices {
  &-title {
    display: flex;
    justify-content: space-between;
  }
}

.admin-events-event-form {
  &-active-switch {
    position: absolute;
    right: 0;
  }

  .ant-switch {
    width: 90px;
    background-color: $red;
    font-size: 1rem;
    font-weight: bold;
  }

  .ant-switch-checked {
    background-color: $green;
  }
}

.admin-events-event-covers {
  &-small{
    .reusables-image-preview {
      width: 350px;
      height: 350px;

      img {
        width: 360px;
        height: 360px;;
        max-height: 400px;
        min-width: 400px;
      }
    }
  }
  &-large {
    .reusables-image-preview {
      width: 800px;
      max-width: 1000px;
      height: 415px;

      img {
        max-width: 900px;
        width: 100%;
        max-height: 800px;
      }
    }
  }
}


// Signup ===>
.signup {
  padding-left: 325px; // same width like stepper
  &-form-container {
    padding: 0px $extraPadding $largePadding $extraPadding;
    div, form {
      &:first-child {
        padding-top: 0.1px;
      }
    }
  }
}

.signup-stepper {
  position: fixed;
  background-color: $secondary;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 325px;

  &:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../assets/amg-logo@blue-large.png');
    background-repeat: no-repeat;
    background-position: 190%;
    opacity: 0.2;
  }

  &-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: $largePadding $padding;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
  }

  &-logo {
    height: 50px;
    width: 100%;
    text-align: center;
    margin-bottom: 5vh;

    img {
      max-height: 30px;
    }
  }

  .ant-steps-item-process {
    .ant-steps-item-icon {
      background-color: white;
      border-color: transparent;
      .ant-steps-icon {
        color: $primary;
        font-size: 0.9rem;
      }
    }
  }

  .ant-steps-item-wait {
    .ant-steps-item-icon {
      background-color: $silver;
      border-color: transparent;
      .ant-steps-icon {
        color: $darkSilver;
        font-size: 0.9rem;
        opacity: 0.6;
      }
    }
  }

  .ant-steps-item {
    &-tail {
      padding: 32px 1px;
      &:after {
        background: $silver;
        opacity: 0.8;
      }
    }

    &-content {
      .ant-steps-item-title {
        font-weight: normal;
      }
    }
  }
}

// Settings
/* Style SettingsMembership */
.settings-membership {
  padding: $largePadding;
  background-color: $clouds;
  display: flex;
  justify-content: center;
}

.terms-and-conditions {
  &-modal {
    h4 {
      text-align: center;
    }

    textarea {
      background-color: $clouds;
      border-radius: 0px;
      border-color: $clouds;
      font-size: 0.98rem;
    }
  }

  &-check {
    margin-top: $largeMargin;

    .ant-checkbox-inner {
      width: 22px;
      height: 22px;
      &:after {
        left: 30%;
      }
    }

    &-text {
      margin-top: -5px;
      display: inline-block;
    }

    .ant-checkbox-wrapper {
      display: flex;
    }
  }
}


// HOME
.home-tables {
  display: flex;
  flex-flow: column;
  align-items: center;

  &-navbar {
    background-color: $secondary;
  }

  &-content {
    margin-top: 100px;
    min-height: 90vh;
  }
}

.home-nosotros-convenios {
  .ant-list-item {
    background-color: white;
    border-bottom: none;
    margin-bottom: $padding;

    .ant-list-item-meta-avatar {
      width: 130px;
      display: flex;
      justify-content: center;
      img {
        max-height: 80px;
        max-width: 100px;
      }
    }
    .ant-list-item-meta {
      display: flex;
      align-items: center;
    }
    .ant-list-item-meta-title {
      font-weight: bold;
    }
  }
}


//  ADMIN ==>
// style AdminSubsidiariedList
.admin-subsidiaries-list {
  .ant-table-tbody {
    background-color: transparent!important;
  }
}

// AdminSubsidiaries
.admin-subsidiaries {
  padding: 0.1px;

  &-stats-container {
    display: flex;
    justify-content: center;

    div {
      margin: 0px $margin;
    }
  }
}

// AdminSubsidiaryProfile
.admin-subsidiary-profile {
  &-info {
    display: flex;

    .profile-data∆í {
      display: flex;
      div {
        &:last-child {
          display: flex;
          flex-flow: column;
          margin-left: $smallMargin;
          margin-right: $smallMargin;
        }
      }
    }

    .stats {
      display: flex;
      .admin-reusables-stats-container {
        height: 93px;
        &:first-child {
          margin-right: $margin;
        }
      }
    }
  }
}
