/* Color palette */
@import "./Palette.scss";
/* Unities */
@import "./Unities.scss";
/* Mixins */
@import "./Mixins.scss";

/* Login */
.login-left {
  padding: $padding !important;
}

.login-right {
  display: none;

  @include for-size(tablet-landscape-up) {
    display: flex;
  }
}

.signup-right {
  padding: $padding !important;
}

.signup-left {
  display: none;
  padding-left: 32px !important;
  position: fixed;
  left: 0;

  @include for-size(tablet-landscape-up) {
    display: flex;
  }
}

.login-bg {
  background-image: url("../assets/login-bg.png");
  width: 100%;
  height: 100%;
  background-size: cover;
}

.login-logo {
  width: 100%;
  height: 100%;
  background-image: url("../assets/gastro@2x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

.signup-bg {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.signup-logo {
  width: 100%;
  height: 100%;
  background-image: url("../assets/gastro@2x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

.shapeIcon {
  padding-left: 4px;
  width: 25px;
  height: 25px;
  margin: auto;
}

/* Dashboard */
.dashboard-container {
  width: 100%;
  padding-left: $lateralSpace;
  box-sizing: border-box;
  position: relative;
}

.dashboard-container-item {
  margin-bottom: $largeMargin;
  margin-top: $largeMargin;
}

/* Event Detail */
$eventLeftWidth: 350px;

.event-detail {
  .title {
    margin-bottom: $largeMargin;
  }
}

.event-details {
  display: flex;

  .left {
    width: $eventLeftWidth;
    min-width: $eventLeftWidth;
  }

  .right {
    flex-grow: 1;
    box-sizing: border-box;
    padding-left: $largePadding;

    &-button {
      display: flex;
      justify-content: flex-end;
    }
  }
}



/* Feed */
.feed {
  &-event {
    position: relative;
    min-height: 415px;
  }

  &-publications {
    position: relative;
    min-height: 356px;
  }
}

/* Activity Detail */
.activity-detail {

  &-speaker {
    display: flex;

    &-info {
      display: flex;
      flex-flow: column;
      margin-left: $margin;
      justify-content: space-between;
      box-sizing: border-box;
      padding-top: $smallPadding;
      padding-bottom: $smallPadding;
    }
  }
}


/* Component map */
.component-map {
  width: 100%;
  height: 190px;
}

/* SignupContainer */
  .signup-container {
    display: flex;
  }



  /*MainProfile*/
  .component-main-profile {
    .info {
      background-color: $clouds;
      display: flex;
      flex-flow: column;
      align-items: center;
      padding-top: $largePadding;
      box-sizing: border-box;
      position: relative;
    }

    .edit {
      font-size: 1.3rem;
      position: absolute;
      right: $padding;
      top: $padding;
      cursor: pointer;
      $color: $textPrimary;

      &:hover {
        color: $primary;
      }
    }

    .follows {
      display: flex;
      width: 100%;

      div {
        width: 50%;
        box-sizing: border-box;
        border-top: solid 5px white;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        padding: $padding;

        &:first-child {
          border-right: 2px solid white;
        }

        &:last-child {
          border-left: 2px solid white;
        }
      }

      span {
        font-size: 1.3rem;
        font-weight: bold;
      }
    }
  }
