// Color palette
@import "./Palette.scss";
// Unities
@import "./Unities.scss";

.gastro {
  width: 174px;
  height: 48px;
  font-family: Avenir;
  font-size: 35px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  color: $textSecondary;
}

.gastro .text-style-1 {
  color: $primary;
}
