// Color palette
@import './Palette.scss';
// Unities
@import './Unities.scss';


.text-field {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: $smallMargin;
  margin-bottom: $smallMargin;

  label {
    margin-bottom: $smallMargin;
  }
}