// Color palette
@import "./Palette.scss";
// Unities
@import "./Unities.scss";

.text-field {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 445px;

  &:last-child {
    margin-bottom: 0 !important;
  }

  &:first-child {
    margin-top: 0 !important;
  }

  label {
    margin-bottom: $smallMargin;
  }
}

.text-area {
  .area {
    background-color: $clouds;
    border-radius: 0px;
    border: solid transparent;
  }
}

/*Input*/
.input {
  max-width: 445px;

  .field {
    position: relative;
    input {
      width: 100%;
      height: 50px;
      appearance: none;
      background-color: $clouds;
      border-top: none;
      border-left: none;
      border-right: none;
      padding-right: 54px;
      box-sizing: border-box;
      padding-left: $padding;

      &:focus, &:hover {
        appearance: none;
        border-top: none;
        border-right: none;
        border-left: none;
        outline: none;
        border-bottom: 2px solid $primary;
      }
    }
  }

  .error {
    input {
      border-bottom: solid 2px $red;
    }
  }

  .success {
    input {
      border-bottom: solid 2px $green;
    }
  }

  .warning {
    input {
      border-bottom: solid 2px $yellow;
    }
  }
}

/* Lateral Menu */
.menu-item-active {
  color: $primary !important;
}

/* Events Month */
.events-month {
  margin-bottom: ($largeMargin);

  &:first-child {
    margin-top: ($largeMargin * 2);
  }
}

/* CheckBox */
.check-box {
  display: flex;
  flex-direction: column;
  .ant-checkbox-wrapper {
    margin-left: 0;
  }
}

/* Post Item */
.post-item {
  min-height: 350px;
  width: 100%;
  background-color: $clouds;
  box-sizing: border-box;
  padding: $padding;
  margin-top: $largeMargin;
  margin-bottom: $largeMargin;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .files-items {
    margin-top: $padding;
    display: flex;
    flex-wrap: wrap;
  }

  .ant-carousel {
    background-color: $secondary;
    height: 300px;
    margin-bottom: $smallMargin;

    .ant-modal {
      .ant-modal-content {
        width: 85vw;
        height: 85vh;
      }
    }

    .slick-slider {
      height: 300px;
    }

    .image-item {
      height: 300px;
      width: 100%;
      background-position: center;
      background-size: cover;
      cursor: pointer;
    }

    .slick-dots-bottom {
      li {
        button {
          height: 12px;
          width: 40px;
          margin-left: $smallMargin;
          margin-right: $smallMargin;
          border: solid 1px $navy;
          border-radius: 3px;
        }
      }
    }
  }

  &-info {
    display: flex;
  }

  &-photo {
    margin-right: $margin;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h2 {
    margin-bottom: $smallMargin;
  }

  &-post {
    margin-top: $largeMargin;
    flex-grow: 1;
  }

  &-image {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    margin-top: $margin;
    margin-bottom: $margin;
  }
}

/* Publisher */
$inputHeight: 72px;

.publisher {
  margin-top: $largeMargin;
  margin-bottom: $largeMargin;
  position: relative;
  background-color: $clouds;
  padding: $padding;
  box-sizing: border-box;

  input {
    border-radius: 0px !important;
    height: $inputHeight;
    border: none !important;
  }

  input {
    background-color: $clouds !important;
    font-size: 1.2em !important;
  }
}



/* Attached Files */
.attached-files {
  display: flex;
}



/* Files To Upload */
.files-to-upload {
  display: flex;
  flex-wrap: wrap;

  .remove-file {
    display: none;
    color: $red;
    font-size: 3em;
  }

  .image-preview {
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: $margin;
    margin-top: $smallMargin;
    position: relative;

    &:last-child {
      margin-right: 0px;
    }

    &:hover {
      .remove-file {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($color: $clouds, $alpha: 0.5)
      }
    }
  }

  .file-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 50px;
    background-color: $primary;
    border-radius: 25px;
    padding: $padding;
    box-sizing: border-box;
    font-size: 1.3em;
    margin-right: $margin;
    margin-top: $smallMargin;

    svg {
      margin-right: $smallMargin;
    }
  }
}

.files-preview-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/* Speaker Item */
.speaker-item {
  display: flex;
  padding-left: $smallPadding;
  box-sizing: border-box;
  align-items: center;
  margin-top: $largeMargin;
  margin-bottom: $margin;

  h4 {
    font-size: 0.9rem;
    @include for-size(tablet-landscape-up) {
      font-size: 1.4rem;
    }
  }

  @include for-size(tablet-landscape-up) {
    padding-left: ($lateralSpace + $largeMargin);
  }

  &-info {
    background-color: $lightBlue;
    height: 120px;
    width: 100%;
    box-sizing: border-box;
    padding: $padding;
    max-width: 940px;
  }
}

/* MembershipCard */
$membershipCardWidth: 300px;

.membership-card {
  width: $membershipCardWidth;
  margin: $smallMargin;
  border: none;
  border-top: 2px solid transparent;
  padding-left: $padding;
  padding-right: $padding;
  transition: all ease 0.3s;
  cursor: pointer;

  ul {
    padding-left: 0px;
    color: $darkSilver;
  }

  &-header {
    text-align: center;

    .name {
      font-size: 1.3em;
      color: $darkSilver;
    }

    .price {
      font-size: 3em;
      color: $navy;
      font-weight: normal;
      margin-top: $margin;
    }

    .currency {
      font-size: 1.2em;
      color: $navy;
    }

    .period {
      font-size: 0.85em;
      color: $darkSilver;
      min-height: 20px;
    }
  }

  .content {
    min-height: 250px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }
}

.event-cover {
  position: relative;

  .image-text {
    position: absolute;
    bottom: $padding;
    left: $padding;
    z-index: 3;
  }
}