// Color palette
@import "./Palette.scss";
// Unities
@import "./Unities.scss";

.text-field {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  &:last-child {
    margin-bottom: 0 !important;
  }

  &:first-child {
    margin-top: 0 !important;
  }

  label {
    margin-bottom: $smallMargin;
  }
}

/* Events Month */
.events-month {
  margin-bottom: ($largeMargin);

  &:first-child {
    margin-top: ($largeMargin * 2);
  }
}
