/* For positions */
.relative {
  position: relative;
}

/* Tabs */

.reusable-tabs {
  .ant-tabs-nav-scroll {
    background-color: $clouds;
  }

  .ant-tabs-nav{
    width: 100%;
    div {
      width: 100%;
      display: flex;
    }
  }

  .ant-tabs-tab {
    flex-grow: 1;
  }

  .ant-tabs-tab-active {
    background-color: $navy;
    color: white;
  }

  .ant-tabs-bar {
    margin-bottom: 0px;
  }

  .ant-tabs-ink-bar {
    display: none!important;
  }

  .ant-tabs-content {
    .ant-tabs-tabpane {
      background-color: $lightBlue;
      padding: $largePadding $padding;
      box-sizing: border-box;
    }
    .ant-tabs-tabpane-inactive {
      box-sizing: border-box;
      padding: $largePadding $padding;
    }
  }
}


/* Reusable save button */
.reusable-save-button {
  position: absolute;
  top: 0;
  right: $largePadding;
}


/* CreateIntitution */
.reusable-modal-create-intitution {
  padding: 0px;
  height: auto;
  background-color: transparent;
  border: none;
  color: $primary;
}


/* RangeDatePicker */
.reusable-component-range-picker{
  .ant-calendar-picker-input {
    background-color: $clouds;
    height: 50px;
    border-radius: 0px;
    border: none;
  }
}

/*bg*/
.bg-green {
  background-color: $green;
}

/*FileItem*/
.reusable-file-item {
  position: relative;
  max-width: 320px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: $padding;
  padding-right: $extraPadding;
  display: inline-block;
  background-color: $secondary;
  margin-right: $margin;
  color: white;
  margin-bottom: $smallMargin;

  &:last-child {
    margin-right: 0px;
  }

  &:after {
    content: '➲';
    position: absolute;
    top: -10px;
    right: $smallPadding;
    font-size: 3rem;
    transform: rotate(90deg);
    color: $primary;
  }
}


.video-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url('../assets/Mask.png');
  background-size: cover;
  background-position: center;

  @media (min-width: 1440px) {
    background-image: url('../assets/bg4k.png');
    video {
      display: none;
    }
  }
}