/* For positions */
.relative {
  position: relative;
}

/* Tabs */

.reusable-tabs {
  .ant-tabs-nav-scroll {
    background-color: $clouds;
  }

  .ant-tabs-nav{
    width: 100%;
    div {
      width: 100%;
      display: flex;
    }
  }

  .ant-tabs-tab {
    flex-grow: 1;
  }

  .ant-tabs-tab-active {
    background-color: $navy;
    color: white;
  }

  .ant-tabs-bar {
    margin-bottom: 0px;
  }

  .ant-tabs-ink-bar {
    display: none!important;
  }

  .ant-tabs-content {
    .ant-tabs-tabpane {
      background-color: $lightBlue;
      padding: $largePadding $padding;
      box-sizing: border-box;
    }
    .ant-tabs-tabpane-inactive {
      box-sizing: border-box;
      padding: $largePadding $padding;
    }
  }
}


/* Reusable save button */
.reusable-save-button {
  position: absolute;
  top: 0;
  right: $largePadding;
}


/* CreateIntitution */
.reusable-modal-create-intitution {
  padding: 0px;
  height: auto;
  background-color: transparent;
  border: none;
  color: $primary;
}


/* RangeDatePicker */
.reusable-component-range-picker{
  .ant-calendar-picker-input {
    background-color: $clouds;
    height: 50px;
    border-radius: 0px;
    border: none;
  }
}

/*bg*/
.bg-green {
  background-color: $green;
}